@import url('https://rsms.me/inter/inter-ui.css');

body, html {
    font-family: "Inter UI", Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter UI", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 0.8rem;
}

h6 {
    font-size: 1rem;
}

a, a:active, a:hover, a:link, a:visited {
    color: black;
}

li {
    list-style-type: none;
    margin-left: -40px;
    padding-top: 10px;
}
